<div class="container">
  <div class="jumpotron">
    <!-- Filter -->
    <div class="m-1">
      <input type="email" class="form-control" [(ngModel)]="filterText" id="exampleInputEmail1"
        aria-describedby="emailHelp" placeholder="search by name">

    </div>

    <h5 class="text-center">Employee Details</h5>




    <table class="table  table-hover table-bordered table-sm table-wh">
      <thead class="table-dark">
        <tr>

          <th class="text-center " scope="col" [appSort]="data2" data-order="desc" data-name="id">Id</th>
          <th class="width" scope="col" [appSort]="data2" data-order="desc" data-name="employee_name">Name
            <!-- sorting icon using bootstrap -->
            <i class="bi bi-sort-alpha-down"></i>



          </th>
          <th class="text-center " scope="col" [appSort]="data2" data-order="desc" data-name="employee_age">Age
            <!-- sorting icon using bootstrap -->
            <i class="bi bi-arrow-down-up"></i>
          </th>

          <th class="text-center " scope="col" [appSort]="data2" data-order="desc" data-name="employee_salary">Salary
            <!-- sorting icon using bootstrap -->
            <i class="bi bi-arrow-down-up"></i>
          </th>
          <th class="text-center " scope="col" [appSort]="data2" data-order="desc" data-name="email">Email
            <!-- sorting icon using bootstrap -->
            <i class="bi bi-arrow-down-up"></i>
          </th>
          <th class="text-center" scope="col">Get Details</th>
          <th class="text-center width-m" scope="col">Modify</th>

        </tr>
      </thead>
      <tbody>
        <tr class=""
          *ngFor="let item of data2 | paginate: { itemsPerPage: count, currentPage: p } | filterText : filterText ; let i = index ">

          <td class="text-center zoom">{{item.id}}</td>
          <td class="zoom">{{item.employee_name}}</td>
          <td class="text-center zoom">{{item.employee_age}}</td>
          <td class="text-center zoom">{{item.employee_salary}}</td>
          <td class="text-center zoom">{{item.email}}</td>
          <td class="text-center ">
            <a (click)="openMadal(item.id,item.employee_name)">
              <i class="fa-solid fa-circle-info text-left">
              </i>
            </a>
          </td>
          <td class="text-center">
            <!-- edit button -->
            <button type="button" class="btn btn-primary " (click)="openEditMadal(item.id)">
              <i class="fa-solid fa-pen-to-square"></i></button>
            <!-- delete button -->
            <button type="button" class="btn btn-danger m-1" (click)="openDeleteMadal(item.id)"><i
                class="fa-solid fa-trash"></i></button>
          </td>
        </tr>
        <tr>

        </tr>

      </tbody>
    </table>
    <div class="text-center">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
    <div class="text-align">
      <!-- <button type="button " class="btn btn-primary" (click)="getapi()">Reset</button> -->
      <button type="button " class="btn btn-success m-1" (click)="openMadalAddEmployeee()">Add Employees</button>
    </div>

  </div>
</div>





<!-- Modal  for id card-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-info text-white">
        <h5 class="modal-title p " id="exampleModalLabel">About : {{Name}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click)="closeModal()"></button>
      </div>
      <div *ngFor="let item of data2">
        <!--
          for loop
        -->
        <ng-template [ngIf]="item.id == Id">
          <div class="flex-container">
            <!-- image -->
            <div class="flex-child bg-img">

              <div class="">
                <div>
                  <img class="pi" [src]="imagedata[Id].image">
                </div>
              </div>
            </div>
            <!-- details -->
            <div class="flex-child bg-details ">
              <div class="row align-items-start ">
                <diV class="col-md-6 ">
                  <label class="">Id : </label>
                </diV>
                <diV class="col-md-6">
                  <label class="" style="text-align: left;">{{item.id}}</label>
                </diV>
              </div>

              <diV class="row align-items-start ">
                <div class="col-md-6">
                  <label class="">Name : </label>
                </div>
                <div class="col-md-6">
                  <label class="">{{item.employee_name}}</label>
                </div>
              </diV>

              <diV class="row align-items-start ">
                <div class="col-md-6">
                  <label class="">Salary : </label>
                </div>
                <div class="col-md-6">
                  <label class="">{{item.employee_salary}}</label>
                </div>
              </diV>

              <diV class="row align-items-start ">
                <div class="col-md-6">
                  <label class="">Age : </label>
                </div>
                <div class="col-md-6">
                  <label class="">{{item.employee_age}}</label>
                </div>
              </diV>
            </div>

          </div>
        </ng-template>
        <!--
         if loop
        -->
      </div>


      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="closeModal()">Close</button>

      </div>
    </div>
  </div>
</div>

<!-- modal for add employees details -->
<div class="modal fade" id="addEmployeeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addEmployeeModal">Add Employee</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="registerForm">
          <!-- id -->
          <div class="mb-3">
            <label for="id" class="form-label">Id</label>
            <!-- jquery validation -->
            <input type="id" formControlName="id" class="form-control allow-numeric-id" id="id" placeholder="id"
              [ngClass]="{'is-invalid': (registerForm.get('id')?.dirty ||  registerForm.get('id')?.touched) && registerForm.get('id')?.errors}">
            <span class="error-id" style="color: red; display: none">* only number (0 - 9)</span>
            <div
              *ngIf="(registerForm?.get('id')?.dirty ||  registerForm.get('id')?.touched) && registerForm?.get('id')?.errors"
              class="invalid-feedback">
              <!-- <div *ngIf="registerForm?.get('id')?.errors?.['required']">Id is required</div> -->
              <!-- <div *ngIf="registerForm?.get('id')?.errors?.['pattern']">Id must be a number</div> -->
              <!-- <span class="error" style="color: red; display: none">* Input digits (0 - 9)</span> -->

            </div>
          </div>
          <!-- employee_name -->
          <div class="mb-3">
            <label for="employee_name" class="form-label">Employee Name</label>
            <input type="text" formControlName="employee_name" class="form-control allow-alphabet-name"
              id="employee_name" placeholder="employee_name"
              [ngClass]="{'is-invalid': (registerForm.get('employee_name')?.dirty ||  registerForm.get('employee_name')?.touched) && registerForm.get('employee_name')?.errors}">
            <span class="error-name" style="color: red; display: none">* only alphabet (a - z)</span>
            <div
              *ngIf="(registerForm?.get('employee_name')?.dirty || registerForm.get('employee_name')?.touched) && registerForm?.get('employee_name')?.errors"
              class="invalid-feedback">
              <!-- <div *ngIf="registerForm?.get('employee_name')?.errors?.['required']">Employee Name is required</div>
              <div *ngIf="registerForm?.get('employee_name')?.errors?.['pattern']">Employee Name must be a string</div> -->

            </div>
          </div>
          <!-- employee_age -->
          <div class="mb-3">
            <label for="employee_age" class="form-label">Employee Age</label>
            <input type="text" formControlName="employee_age" class="form-control allow-numeric-age" id="employee_age"
              placeholder="employee_age"
              [ngClass]="{'is-invalid': (registerForm?.get('employee_age')?.dirty || registerForm.get('employee_age')?.touched) && registerForm.get('employee_age')?.errors}">
            <span class="error-age" style="color: red; display: none">* only number</span>
            <div
              *ngIf="(registerForm?.get('employee_age')?.dirty || registerForm.get('employee_age')?.touched) && registerForm?.get('employee_age')?.errors"
              class="invalid-feedback">
              <!-- <div *ngIf="registerForm?.get('employee_age')?.errors?.['required']">employee_age is required</div>
              <div *ngIf="registerForm?.get('employee_age')?.errors?.['pattern']">Age must be a number</div> -->

            </div>
          </div>
          <!-- employee_salary -->
          <div class="mb-3">
            <label for="employee_salary" class="form-label">employee_salary</label>
            <input type="id" formControlName="employee_salary" class="form-control allow-numeric-salary" id="id"
              placeholder="employee_salary"
              [ngClass]="{'is-invalid': (registerForm?.get('employee_salary')?.dirty || registerForm.get('employee_salary')?.touched) && registerForm.get('employee_salary')?.errors}">
            <span class="error-salary" style="color: red; display: none" id="salary">* only number</span>
            <div
              *ngIf="(registerForm?.get('employee_salary')?.dirty || registerForm.get('employee_salary')?.touched) && registerForm?.get('employee_salary')?.errors"
              class="invalid-feedback">
              <!-- <div *ngIf="registerForm?.get('employee_salary')?.errors?.['required']">employee_salary is required</div>
              <div *ngIf="registerForm?.get('employee_salary')?.errors?.['pattern']">Salary must be a
                number</div> -->

            </div>
          </div>
          <!-- email -->
          <div class="mb-3">
            <label for="employee_salary" class="form-label">Email</label>
            <input type="id" formControlName="email" class="form-control" id="id" placeholder="email"
              [ngClass]="{'is-invalid': (registerForm?.get('email')?.dirty || registerForm.get('email')?.touched) && registerForm.get('email')?.errors}">
            <div
              *ngIf="(registerForm?.get('email')?.dirty || registerForm.get('email')?.touched) && registerForm?.get('email')?.errors"
              class="invalid-feedback">
              <div *ngIf="registerForm?.get('email')?.errors?.['required']">email Id is required</div>
              <div *ngIf="registerForm?.get('email')?.errors?.['email']">email must be valid
              </div>

            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" (click)="insertRecord(registerForm.value.id,registerForm.value)"
          [disabled]="!registerForm.valid">Save</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!--  edit details Model-->

<div class="modal fade" id="editExampleModalLabel" tabindex="-1" aria-labelledby="editExampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click)="closeModal()"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="registerForm">
          <!-- Id -->
          <div class="mb-3">
            <label for="id" class="form-label">Id</label>
            <input type="id" formControlName="id" class="form-control" id="id" placeholder="id"
              [ngClass]="{'is-invalid': registerForm.get('id')?.touched && registerForm.get('id')?.errors}" readonly>
            <div *ngIf="registerForm?.get('id')?.touched && registerForm?.get('id')?.errors" class="invalid-feedback">
              <div *ngIf="registerForm?.get('id')?.errors?.['required']">Id is required</div>
              <div *ngIf="registerForm?.get('id')?.errors?.['id']">Id must be a number</div>
            </div>
          </div>
          <!-- employee_name  -->
          <div class="mb-3">
            <label for="employee_name" class="form-label">Name</label>
            <input class="form-control allow-alphabet-name" type="employee_name" formControlName="employee_name"
              id="employee_name" placeholder="employee_name"
              [ngClass]="{'is-invalid': registerForm.get('employee_name')?.dirty && registerForm.get('employee_name')?.errors}">
            <span class="error-name" style="color: red; display: none">* only alphbet (a - z)</span>

            <div *ngIf="registerForm?.get('employee_name')?.dirty && registerForm?.get('employee_name')?.errors"
              class="invalid-feedback">
              <!-- <div *ngIf="registerForm?.get('employee_name')?.errors?.['required']">employee_name is required</div>
              <div *ngIf="registerForm?.get('employee_name')?.errors?.['employee_name']">employee_name must be a
                valid</div>
              <div *ngIf="registerForm?.get('employee_name')?.errors?.['pattern']">Name must be a string</div> -->
            </div>
          </div>
          <!-- employee_age -->
          <div class="mb-3">
            <label for="employee_age" class="form-label">Age</label>
            <input type="text" formControlName="employee_age" class="form-control allow-numeric-age" id="employee_age"
              placeholder="employee_age"
              [ngClass]="{'is-invalid': registerForm.get('employee_age')?.dirty && registerForm.get('employee_age')?.errors}">
              <span class="error-age" style="color: red; display: none" id="salary">* only number</span>
            <div *ngIf="registerForm?.get('employee_age')?.dirty && registerForm?.get('employee_age')?.errors"
              class="invalid-feedback">
              <!-- <div *ngIf="registerForm?.get('employee_age')?.errors?.['required']">employee_age is required</div>
              <div *ngIf="registerForm?.get('employee_age')?.errors?.['pattern']">Age must be a number</div>
 -->

            </div>
          </div>
          <!-- employee_salary -->
          <div class="mb-3">
            <label for="employee_salary" class="form-label">Salary</label>
            <input type="text" formControlName="employee_salary" class="form-control allow-numeric-salary"
              id="employee_salary" placeholder="employee_salary"
              [ngClass]="{'is-invalid': registerForm.get('employee_salary')?.dirty && registerForm.get('employee_salary')?.errors}">
              <span class="error-salary" style="color: red; display: none" id="salary">* only number</span>
            <div *ngIf="registerForm?.get('employee_salary')?.dirty && registerForm?.get('employee_salary')?.errors"
              class="invalid-feedback">
              <!-- <div *ngIf="registerForm?.get('employee_salary')?.errors?.['required']">Salary is required
              </div>
              <div *ngIf="registerForm?.get('employee_salary')?.errors?.['pattern']">Salary must be a number</div> -->

            </div>
          </div>
          <!-- email -->
          <div class="mb-3">
            <label for="employee_salary" class="form-label">Email</label>
            <input type="text" formControlName="email" class="form-control" id="email" placeholder="email"
              [ngClass]="{'is-invalid': registerForm.get('email')?.dirty && registerForm.get('email')?.errors}">
            <div *ngIf="registerForm?.get('email')?.dirty && registerForm?.get('email')?.errors"
              class="invalid-feedback">
              <div *ngIf="registerForm?.get('email')?.errors?.['required']">email is required
              </div>
              <div *ngIf="registerForm?.get('email')?.errors?.['email']">email must be valid</div>

            </div>
          </div>





        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" (click)="updateData(registerForm.value.id,registerForm.value)"
          data-bs-dismiss="modal" [disabled]="!registerForm.valid">Save</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModal()">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal  for delete button-->
<div class="modal fade" id="exampleDeleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-info text-white">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click)="closeModal()"></button>
      </div>
      <div class="modal-body">
        <p class="text-center">Are you sure you want to delete ?</p>

      </div>
      <div class="modal-footer">
        <div class="m">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="closeModal()">No</button>
        </div>
        <button type="submit" class="btn btn-danger " (click)="deleteRecord(deletedId)" data-bs-dismiss="modal"
          (click)="closeModal()">
          Yes</button>
      </div>
    </div>
  </div>
</div>